<footer class="h-9 bg-green-500 text-white">
        <div class="container relative top-1 px-4 max-w-full">
          <div class="text-center text-base">
            <p>&copy; 2024 FarmFresh. All rights reserved.</p>
          </div>
        </div>
</footer>
      <script>
        document.getElementById('dropdownButton').addEventListener('click', function() {
          var dropdownMenu = document.getElementById('dropdownMenu');
          dropdownMenu.classList.toggle('hidden');
        });
      </script>
    </body>
    </html>